<section class="about" id="about">
  <div class="about-cont container">
    <h2 class=" srction-title about-title">About the Game</h2>
    <div class="about-wrap">
    <img class="about-image" src="./img/about.png" alt="about" loading="lazy" />
    <p class="about-text">
      A puzzle journey with heart and community Jolly Match 3 invites players
      into a cozy world where a tornado has scattered cookies, gems, and candies
      across once-beautiful locations. By solving match-3 levels, players earn
      resources to restore these places while unlocking helper characters,
      joining teams, and taking part in seasonal events.
    </p>
    </div>
  </div>
</section>
