<section class="hero" id="hero">
  <div class="hero-cont container">
    <img class="hero-image" src="./img/hero.png" alt="Hero" loading="lazy" />
    <img
      class="hero-match"
      src="./img/title.png"
      alt="Match Sweetly.Rebuild Joyfully"
      loading="lazy"
    />
    <h1 class="visually-hidden">Match Sweetly.Rebuild Joyfully</h1>
    <p class="hero-text">
      Restore a candy-coated world with puzzles, friends, and lovable helpers.
    </p>
    <a
      class="hero-button"
      href="https://play.google.com/store/apps/details?id=com.jollyco.jollybattlematch3&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg
        class="store-icon"
        width="34"
        height="34"
        aria-hidden="true"
        focusable="false"
      >
        <use href="/img/sprite.svg#icon-google-play"></use>
      </svg>
      PLAY ON<br />Google Play
    </a>
  </div>
</section>
