<section class="how-to-play" id="how-to-play">
  <div class="how-cont container">
    <h2 class="how-main-title">How to Play</h2>

    <img
      class="how-main-image"
      src="./img/how-to-play/htp.png"
      alt="How to Play"
      loading="lazy"
    />
    <div class="swiper how-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h3 class="how-title">Join a Team</h3>
          <div class="how-wraper">
            <div class="how-wraper-image">
              <img
                class="how-image"
                src="./img/how-to-play/join.png"
                alt="How to Play"
                loading="lazy"
              />
            </div>
            <p class="how-text">
              Team up with players worldwide for shared events and rewards.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <h3 class="how-title">Restore Storm-Damaged Locations</h3>
          <div class="how-wraper">
            <div class="how-wraper-image">
              <img
                class="how-image"
                src="./img/how-to-play/restore.jpg"
                alt="How to Play"
                loading="lazy"
              />
            </div>
            <p class="how-text">
              Use earned resources to rebuild each area. Choose a Helper
              Character
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <h3 class="how-title">Swap Candy Tiles</h3>
          <div class="how-wraper">
            <div class="how-wraper-image">
              <img
                class="how-image"
                src="./img/how-to-play/swap.png"
                alt="How to Play"
                loading="lazy"
              />
            </div>
            <p class="how-text">
              Match cookies, gems, and treats to clear the board. Restore
              Storm-Damaged Locations
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <h3 class="how-title">Choose a Helper Character</h3>
          <div class="how-wraper">
            <div class="how-wraper-image">
              <img
                class="how-image"
                src="./img/how-to-play/choose.png"
                alt="How to Play"
                loading="lazy"
              />
            </div>
            <p class="how-text">
              Pick a companion whose special skill supports your strategy.
              Unlock Boosters
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <h3 class="how-title">Unlock Boosters</h3>
          <div class="how-wraper">
            <div class="how-wraper-image">
              <img
                class="how-image"
                src="./img/how-to-play/unlock.png"
                alt="How to Play"
                loading="lazy"
              />
            </div>
            <p class="how-text">
              Use disco-balls, rockets, and combo tools to clear tough levels.
              Join a Team
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="play-controls">
      <button
        class="play-btn play-btn-prev"
        type="button"
        aria-label="Previous play"
      >
        <svg class="play-btn-icon" width="44" height="44">
          <use href="./img/sprite.svg#icon-swiper-arrow-left"></use>
        </svg>
      </button>
      <div class="sw-pagination play-pagination"></div>
      <button
        class="play-btn play-btn-next"
        type="button"
        aria-label="Next play"
      >
        <svg class="play-btn-icon" width="44" height="44">
          <use href="./img/sprite.svg#icon-swiper-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
