<section class="reviews-section" id="reviews" data-reviews>
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-slider-box">
      <div class="swiper reviews-swiper" data-reviews-swiper>
        <ul class="swiper-wrapper reviews-list">
          <li class="swiper-slide reviews-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/jason.jpg"
              alt="Jason P."
            />
            <h3 class="reviews-name">Jason P.</h3>
            <p class="reviews-text">
              Love picking my helper character before each run.
            </p>
            <div class="reviews-rating">
              <span class="reviews-score">4.0</span>
              <span
                class="reviews-stars"
                data-reviews-stars
                data-rating="4"
              ></span>
            </div>
          </li>
          <li class="swiper-slide reviews-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/Melissa.jpg"
              alt="Melissa H."
            />
            <h3 class="reviews-name">Melissa H.</h3>
            <p class="reviews-text">
              Sweet visuals and the boosters feel really powerful.
            </p>
            <div class="reviews-rating">
              <span class="reviews-score">4.0</span>
              <span
                class="reviews-stars"
                data-reviews-stars
                data-rating="4"
              ></span>
            </div>
          </li>
          <li class="swiper-slide reviews-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/puzzle.jpg"
              alt="PuzzleTeamCaptain"
            />
            <h3 class="reviews-name">PuzzleTeamCaptain</h3>
            <p class="reviews-text">
              Joining a team completely changed how I play.
            </p>
            <div class="reviews-rating">
              <span class="reviews-score">5.0</span>
              <span
                class="reviews-stars"
                data-reviews-stars
                data-rating="5"
              ></span>
            </div>
          </li>
          <li class="swiper-slide reviews-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/candy.jpg"
              alt="CandyCrusherPro"
            />
            <h3 class="reviews-name">CandyCrusherPro</h3>
            <p class="reviews-text">
              Team events make this way more fun than typical match-3s.
            </p>
            <div class="reviews-rating">
              <span class="reviews-score">5.0</span>
              <span
                class="reviews-stars"
                data-reviews-stars
                data-rating="5"
              ></span>
            </div>
          </li>
          <li class="swiper-slide reviews-item">
            <img
              class="reviews-avatar"
              src="./img/reviews/sweet.jpg"
              alt="SweetTilesFan"
            />
            <h3 class="reviews-name">SweetTilesFan</h3>
            <p class="reviews-text">
              Restoring the town after the storm is so satisfying.
            </p>
            <div class="reviews-rating">
              <span class="reviews-score">5.0</span>
              <span
                class="reviews-stars"
                data-reviews-stars
                data-rating="5"
              ></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="reviews-controls">
        <button
          class="reviews-btn reviews-btn-prev"
          data-reviews-action="previous"
          type="button"
          aria-label="Previous review"
        >
          <svg class="reviews-btn-icon" width="44" height="44">
            <use href="./img/sprite.svg#icon-swiper-arrow-left"></use>
          </svg>
        </button>
        <div
          class="swiper-pagination reviews-pagination"
          data-reviews-pagination
        ></div>
        <button
          class="reviews-btn reviews-btn-next"
          data-reviews-action="next"
          type="button"
          aria-label="Next review"
        >
          <svg class="reviews-btn-icon" width="44" height="44">
            <use href="./img/sprite.svg#icon-swiper-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
