<section class="reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-slider-box">
      <div class="swiper reviews-swiper">
        <ul class="swiper-wrapper reviews-list"></ul>
      </div>
      <div class="reviews-controls">
        <div class="swiper-pagination reviews-pagination"></div>

        <div class="reviews-nav">
          <button
            class="reviews-btn reviews-btn-prev"
            type="button"
            aria-label="Попередній відгук"
          >
            <svg class="reviews-btn-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-arrow-back"></use>
            </svg>
          </button>

          <button
            class="reviews-btn reviews-btn-next"
            type="button"
            aria-label="Наступний відгук"
          >
            <svg class="reviews-btn-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-arrow-forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
