.hero {
  background: linear-gradient(0deg, #f7f6ff 0%, #dbdbfe 50%, #c1c0fe 100%);
}
.hero-cont {
  text-align: center;
}
.hero-image {
  justify-content: center;
  margin: 0 auto;
  margin-top: 120px;
}
.hero-match {
  justify-content: center;
  margin: 0 auto;
  margin-top: -70px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

.hero-text {
  font-family: var(--font-family);

  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em;
  color: var(--color-body-text);

  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.hero-button {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 10px;
  /* text-transform: uppercase; */
  color: var(--yellow-sea-400);
  fill: var(--yellow-sea-400);
  border: 1px solid var(--yellow-sea-400);
  display: inline-flex;

  justify-content: center;
  box-sizing: border-box;
  width: 160px;
  height: 40x;
  padding: 8px 8px;
  gap: 8px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0);

  cursor: pointer;
}

.hero-button:hover {
  color: var(--yellow-sea-300);
  border: 1px solid var(--yellow-sea-300);
  background: #fff;
}

@media (min-width: 1440px) {
  .hero-image {
    margin-top: 120px;
  }
  .hero-text {
    font-size: 32px;
    margin-bottom: 34px;
  }
  .hero-button {
    font-size: 16px;
  }
  .hero-match {
    margin-top: -140px;
    width: 40%;
  }
}
