.how-to-play {
  background: #f7f6ff;
}
.how-main-title {
  font-family: var(--title-font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 140%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--electric-violet-700);
  margin-bottom: 20px;
}
.how-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0em;
  color: var(--electric-violet-700);
  margin-bottom: 10px;
  padding: 0px 20px;
}
.how-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0em;
  color: var(--color-body-text);
}
.how-main-image {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.how-wraper-image {
  border-radius: 50%;
  border-bottom: 2px solid #000;
  height: 100px;
  width: 100px;
  overflow: hidden;
  flex-shrink: 0;
}
.how-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.how-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* swiper */
.how-swiper {
  overflow: hidden;
}

.how-swiper .swiper-slide {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0 20px;
}
.sw-pagination {
   display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  text-align: center;
}
.play-btn {
  border: none;
  background: transparent;
  color: #6c41fb;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
.play-controls {
 display: grid;
  grid-template-columns: 44px 1fr 44px;
  align-items: center;

  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
}
.how-to-play-section {
  position: relative;
  overflow: hidden;
}
.how-to-play-section::before {
    content: '';

    position: absolute;
    top: 148px;
    left: 50%;
    z-index: 0;

    width: 520px;
    height: 240px;

    background: radial-gradient(ellipse at center,
            rgba(98, 12, 144, 0.85) 0%,
            rgba(151, 105, 211, 0.5) 40%,
            rgba(201, 190, 253, 0.25) 65%,
            rgba(246, 246, 255, 0) 85%);

    filter: blur(40px);
    transform: translateX(-50%);

    pointer-events: none;
}
.how-image-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto 20px;
}
.how-image-wrapper::before {
  content: '';

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: 500px;

  background: linear-gradient(
    180deg,
    rgba(24, 75, 255, 0) 0%,
    #174aff 100%
  );

  filter: blur(200px);

  z-index: 0;
  pointer-events: none;
  
}
.how-main-image {
  position: relative;
  z-index: 1;
  display: block;
}
.how-image-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.how-image-wrapper::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  height: 450px;

  border-radius: 50%;

  background: linear-gradient(
    180deg,
    rgba(0, 194, 255, 0) 0%,
    #ff29c3 100%
  );

  filter: blur(200px);

  z-index: 0;
  pointer-events: none;
}
.how-image-wrapper::before {
  left: 30%;
  top: 40%;
}

.how-image-wrapper::after {
  left: 70%;
  top: 70%;
}
.play-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.play-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 8px;
  margin: 0 !important;

  border-radius: 200px;
  background: #c8c4e3;
  opacity: 1;

  transition: all 0.3s ease;
}

.play-pagination .swiper-pagination-bullet-active {
  width: 24px;
  height: 8px;

  border-radius: 999px;
  background: var(--electric-violet-700);
}
.play-btn-prev {
  justify-self: start;
}

.play-pagination {
  justify-self: center;
}

.play-btn-next {
  justify-self: end;
}


@media screen and (min-width: 1440px) {
  .how-cont {
    position: relative;
    min-height: 1040px;
    padding-top: 42px;
    padding-bottom: 70px;
  }

  .how-main-title {
    margin-bottom: 50px;
    font-size: 48px;
  }

  .how-main-image {
    width: 390px;
    margin: 0 auto;
  }

  .how-swiper {
    position: absolute;
    inset: 150px 0 auto;
    overflow: visible;
    pointer-events: none;
  }

  .how-swiper .swiper-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 850px;
    transform: none !important;
  }

  .how-swiper .swiper-slide {
    position: absolute;
    width: 390px;
    height: auto;
  }

  .how-swiper .swiper-slide:nth-child(1) {
    top: 60px;
    left: 70px;
  }

  .how-swiper .swiper-slide:nth-child(2) {
    top: 560px;
    left: 50%;
    width: 430px;
    transform: translateX(-50%);
  }

  .how-swiper .swiper-slide:nth-child(3) {
    top: 340px;
    left: 70px;
  }

  .how-swiper .swiper-slide:nth-child(4) {
    top: 60px;
    right: 70px;
  }

  .how-swiper .swiper-slide:nth-child(5) {
    top: 340px;
    right: 70px;
  }

  .how-title {
    margin: 16px 0 0;
    font-size: 30px;
    text-align: left;
  }

  .how-wraper {
    gap: 16px;
  }

  .how-wraper-image {
    width: 150px;
    height: 150px;
  }

  .how-text {
    max-width: 220px;
    font-size: 16px;
  }

  .how-swiper .swiper-slide:nth-child(4) .how-wraper,
  .how-swiper .swiper-slide:nth-child(5) .how-wraper {
    flex-direction: row-reverse;
  }

  .how-swiper .swiper-slide:nth-child(4) .how-title,
  .how-swiper .swiper-slide:nth-child(5) .how-title,
  .how-swiper .swiper-slide:nth-child(4) .how-text,
  .how-swiper .swiper-slide:nth-child(5) .how-text {
    text-align: right;
  }

  .play-controls {
    display: none;
  }
  .how-swiper {
    margin-top: -600px;
  }
}
